html {
    background-color: #b9b1ab;
    font-size: 10px;
    font-family: "Open Sans", serif;
}

body {
    width: 600px;
    margin: 0 auto;
    background-color: rgba(255 255 255/ 0.75);
    padding: 20px 15px 20px 15px;
    border: 2px solid gray;
}

h1 {
    font-size: 60px;
    text-align: Center;
    font-family: "Tangerine", serif;
    color: #004b91;
    padding: 10px 0;
    text-shadow: 2px 2px 2px rgb(115, 115, 115);
}

h2 {
    font-size: 20px;
    line-height: 2;
}

h3 {
    font-size: 16px;
    line-height: 2;
}

p,
li {
    font-size: 12px;
    line-height: 2;
    letter-spacing: 1px;
}

img {
    display: block;
    margin: 10px auto;
    max-width: 100%;
}